.container {
  padding: 1.6rem;
  max-width: min(8.5in, 80%);
  margin: 4rem auto;
  background: white;
  border-radius: var(--border-radius-default);
}

.row {
  gap: 1rem;
  display: flex;
}

.pushed-to-sides {
  justify-content: space-between;
}

.pushed-right {
  margin-left: auto;
}

.title {
  font-weight: 200;
  font-size: 4.5rem;
  margin: 2.5rem auto;
  color: var(--dark-text-colour);
  font-family: var(--sans-serif-font);
}

.title--small {
  font-size: 2.8rem;
}

.description {
  line-height: 1.7;
  color: var(--light-text-colour);
  font-size: var(--body-font-size);
  font-family: var(--serif-font);
}
