.loader {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    animation: 1.6s infinite linear loading;
    border-left: solid 0.2rem white;
}

@keyframes loading {
    from { rotate: 0deg; }
    to { rotate: 360deg; }
}