.action {
    padding: 2rem;
    color: white;
    font-weight: 700;
    margin-top: 2rem;
    margin-left: auto;
    text-decoration: none;
    font-size: var(--body-font-size);
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.2s;
    background-color: var(--action-colour);
    border-radius: var(--border-radius-default);
}

button.action {
    border: none;
    cursor: pointer;
}

.action:hover {
    background-color: var(--action-hover-colour);
}