.action {
    padding: 2rem;
    color: white;
    font-weight: 700;
    margin-top: 2rem;
    margin-left: auto;
    text-decoration: none;
    background-color: #4cbce6;
    font-size: var(--body-font-size);
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.2s;
    border-radius: var(--border-radius-default);
}

.action:hover {
    background-color: #70d4fa;
}