.action {
    padding: 2rem;
    color: white;
    font-weight: 700;
    margin-top: 2rem;
    text-align: center;
    text-decoration: none;
    font-size: var(--body-font-size);
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.2s;
    background-color: var(--action-colour);
    border-radius: var(--border-radius-default);
}

@media screen and (max-width: 480px) {
    .action {
        flex-grow: 1;
        font-size: calc(var(--body-font-size) * 1.5);
    }   
}

button.action {
    border: none;
    cursor: pointer;
}

button.action:disabled {
    cursor: default;
    background-color: var(--secondary-button-colour);
}

.action:hover {
    background-color: var(--action-hover-colour);
}

.action--secondary {
    background-color: var(--secondary-button-colour);
}

.action--secondary:hover {
    background-color: var(--secondary-hover-colour);
}