html {
  font-size: 62.5%;

  /* Colours */
  --dark-text-colour: #222;
  --light-text-colour: #444;
  --action-colour: #4cbce6;
  --action-hover-colour: #70d4fa;
  --secondary-button-colour: #888;
  --secondary-hover-colour: #aaa;
  --error-colour: #db0202;
  --default-hover-colour: #eee;

  /* Text & Fonts */
  --body-font-size: 1.8rem;
  --border-radius-default: 1.6rem;
  --serif-font: 'Noto Serif', serif;
  --sans-serif-font: 'Roboto', sans-serif;

  --border-default: 0.1rem solid black;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 50%;
  }
}

body {
  margin: 0;
}
